#root > div {
    margin: auto;
}

.wrapper{
    /* background: linear-gradient(rgba(6, 6, 22, 0.5), rgba(7, 6, 6, 0.486)); */
    background-color: white;
    border-radius: 0.2rem;
    
    min-height: fit-content;
    min-width: fit-content;

    max-height: 90vh;
    max-width: 90vw;

    margin: auto;

    display: grid;
    grid-template-rows: 1fr 9fr;

    
    & section:nth-of-type(2){
        
        padding: 0 2.5rem;
        display: flex;
    }
}

#form-toggle{

    /* margin-bottom: 1.5rem; */
    min-height: 2.5rem;

    display: flex;
    justify-content: center;

    & button{
        background-color: white;
        width: 100%;

        font-weight: 400;

        &#active{
            color: black;
        }
        &:not(#active){
            background-color: rgb(219, 213, 213);
            color: gray;
        }
    }
}

form#login-form{

    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-evenly;
    
}

form#login-form h1,h2,h3{
    font-weight: 500;
}